{% extends 'base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
  <h3>All Volunteer</h3>
  <hr>
  <table id="mytable" class="table data">
    <thead class="table-dark">
      <tr class="text-center">
        <th scope="col">#</th>
        <th>Volunteer Name</th>
        <th>Email ID</th>
        <th>Contact</th>
        <th>Reg. Date</th>
        <th>Status</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr class="text-center">
        <th>{{forloop.counter}}</th>
        <td class="text-capitalize">{{item.user}}</td>
        <td>{{item.user.email}}</td>
        <td>{{item.contact}}</td>
        <td>{{item.regdate}}</td>
        <td>{{item.status}}</td>
        <td><a href="{% url 'view_volunteerdetail' item.id %}">View Details</a></td>
        <td><a href="#">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main %}