{% extends 'base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
    <h3>Donation Not Received</h3>
    <hr>
    <table id="mytable" class="table data">
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Donation Name</th>
                <th scope="col">Donation Date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <th>1</th>
                <td>Nilesh</td>
                <td> 02/02/2022</td>
                <td>pending</td>
                <td><a href="{% url 'accepted_donationdetail' 2 %}">View Details</a></td>
              </tr>
        </tbody>
    </table>
  </div>
{% endblock main %}