
{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="container mt-5 vh-100 table-responsive">
        <table id="mytable" class="table data">
            <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Donor Details</th>
                    <th scope="col">Volunteer Details</th>
                  </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <th>1</th>
                    <td >
                        <h3 >Cloth Donation</h3>
                        <img src="{% static 'images/cloth-donation.jfif'%}" width="150" height="150" />
                        <h5>Donation Area : Pune</h5>
                        <h5>Donation Date : 2022-02-02</h5>
                    </td>
                    <td>
                        <div>
                            <img class="rounded-circle" src="{% static 'images/avtar5.png'%}" width="80" height="80" />
                        </div>
                        <h4>Name : ABC</h4>
                        <h4>Email : abc@gmail.com</h4>
                        <h4>Status : Pending</h4>
                    </td>
                    <td>
                        <div>
                            <img class="rounded-circle" src="{% static 'images/avtar4.png'%}" width="80" height="80" />
                        </div>
                        <h4>Name : ABC</h4>
                        <h4>Email : abc@gmail.com</h4>
                        <h4>Status : Pending</h4>
                    </td>
                  </tr>
                  <tr class="text-center">
                    <th>2</th>
                    <td >
                        <h3 >Cloth Donation</h3>
                        <img src="{% static 'images/cloth-donation.jfif'%}" width="150" height="150" />
                        <h5>Donation Area : Pune</h5>
                        <h5>Donation Date : 2022-02-02</h5>
                    </td>
                    <td>
                        <div>
                            <img class="rounded-circle" src="{% static 'images/avtar5.png'%}" width="80" height="80" />
                        </div>
                        <h4>Name : ABC</h4>
                        <h4>Email : abc@gmail.com</h4>
                        <h4>Status : Pending</h4>
                    </td>
                    <td>
                        <div>
                            <img class="rounded-circle" src="{% static 'images/avtar4.png'%}" width="80" height="80" />
                        </div>
                        <h4>Name : ABC</h4>
                        <h4>Email : abc@gmail.com</h4>
                        <h4>Status : Pending</h4>
                    </td>
                  </tr>
            </tbody>
        </table>
      </div>
{% endblock main %}
