{% extends 'base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
  <h3>View Volunteer Detail</h3>
  <hr>
  <table id="mytable" class="table data ">
    <tbody>
      <tr class="align-middle text-center">
        <th colspan="4">
          <h3>Volunteer Details</h3>
        </th>
      </tr>
      <tr class="align-middle text-center">
        <td>
          <h5>Volunteer Name</h5>
        </td>
        <td>
          <h5 class="text-secondary text-capitalize">{{item.user.first_name}} {{item.user.last_name}}</h5>
        </td>
        <td>
          <h5>Volunteer Contact</h5>
        </td>
        <td>
          <h5 class="text-secondary">{{item.contact}}</h5>
        </td>
      </tr>
      <tr class="align-middle text-center">
        <td>
          <h5>Email</h5>
        </td>
        <td>
          <h5 class="text-secondary">{{item.user.email}}</h5>
        </td>
        <td>
          <h5>Registration Date</h5>
        </td>
        <td>
          <h5 class="text-secondary">{{item.regdate}}</h5>
        </td>
      </tr>
      <tr class="align-middle text-center">
        <td>
          <h5>Volunteer Pic</h5>
        </td>
        <td><img src="{{item.userpic.url}}" width="80" height="80" /></td>
        <td>
          <h5>ID Card Pic</h5>
        </td>
        <td><img src="{{item.idpic.url}}" width="80" height="80" /></td>
      </tr>


      <tr class="align-middle text-center">
        <td>
          <h5>Address</h5>
        </td>
        <td>
          <h5 class="text-secondary">{{item.address}}</h5>
        </td>
      </tr>
      <tr class="align-middle text-center">
        <td>
          <h5>About</h5>
        </td>
        <td>
          <h5 class="text-secondary">{{item.aboutme}}</h5>
        </td>
      </tr>
      {% if  item.status == 'Pending' %}
      
      <form action="" method="POST">
        {% csrf_token %}
        <tr class="align-middle text-center">
          <td>
            <h5 id="id_status">Status</h5>
          </td>
          <td colspan="3">
            <select class="form-control" id="id_status" name="status" required>
              <option value="Accept">Accept</option>
              <option value="Reject">Reject</option>
            </select>
          </td>

        </tr>
        <tr class="align-middle text-center">
          <td>
            <h5 id="id_adminremark">Admin Remark</h5>
          </td>
          <td colspan="3">
            <textarea class="form-control" id="id_adminremark" name="adminremark" rows="3"></textarea>
          </td>
        </tr>

        <tr class="align-middle text-center">
          <td></td>
          <td colspan="3">
            <button type="submit" class="btn btn-primary px-5">Update</button>
          </td>
        </tr>
      </form>
      {% endif %}
      
      <tr class="align-middle text-center">
        <td>
          <h5>Status</h5>
        </td>
        <td>
          <h5 class="text-secondary text-capitalize">{{item.status}}</h5>
        </td>

      </tr>
      <tr class=" text-center">
        <td>
          <h5>Admin Remark</h5>
        </td>
        <td>
          <h5 class="text-secondary">{{item.adminremark}}</h5>
        </td>
      </tr>



    </tbody>
  </table>
</div>
{% endblock main %}