{% extends 'base-db-volunteer.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
  <h3>Donation Delivered Successfully &#128522;</h3>
  <hr>
  <table id="mytable" class="table data">
    <thead class="table-dark">
      <tr class="text-center">
        <th scope="col">#</th>
        <th>Donation Name</th>
        <th>Donation Date</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr class="text-center">
        <th>{{forloop.counter}}</th>
        <td>{{item.donationname}}</td>
        <td>{{item.donationdate}}</td>
        <td>{{item.status}}</td>
        <td><a href="{% url 'donationrec_detail' item.id %}">View Details</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main %}