{% extends 'base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
    <h3>New Volunteer</h3>
    <hr>
    <table id="mytable" class="table data">
        <thead class="table-dark">
            <tr class="text-center">
                <th scope="col">#</th>
                <th>Volunteer Name</th>
                <th>Email ID</th>
                <th>Contact</th>
                <th>Reg. Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
        </thead>
        <tbody>
          {% for vt in volunteer %}
          <tr class="text-center">
              <th>{{forloop.counter}}</th>
              <td class="text-capitalize">{{vt.user}}</td>
              <td>{{vt.user.email}}</td>
              <td>{{vt.contact}}</td>
              <td> {{vt.regdate}}</td>
              <td>{{vt.status}}</td>
              <td><a href="{% url 'view_volunteerdetail' vt.id %}">View Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock main %}