{% extends 'base-db-admin.html' %}
{% load static %}
{% block main %}
<div class="container mt-5 vh-100 table-responsive">
  <h3>New Donation Request List</h3>
  <hr>
  <table id="mytable" class="table data">
    <thead class="table-dark">
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Donation Name</th>
        <th scope="col">Donation Date</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for d in donations %}
      <tr class="text-center">
        <th>{{forloop.counter}}</th>
        <td>{{d.donationname}}</td>
        <td> {{d.donationdate}}</td>
        <td>{{d.status}}</td>
        <td><a href="{% url 'view_donationdetail' d.id %}">View Details</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock main %}